Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xcursor.theme: McMojave

! special
*.foreground:   #d9d7ce
*.background:   #000000
*.cursorColor:  #d9d7ce

! black
*.color0:       #686868
*.color8:       #373b41

! red
*.color1:       #693d65
*.color9:       #693d65

! green
*.color2:       #913b51
*.color10:      #561c2b

! yellow
*.color3:       #7c307d
*.color11:      #651d66

! blue
*.color4:       #4a6ab6
*.color12:      #4a6ab6

! magenta
*.color5:       #d15191
*.color13:      #a2527a

! cyan
*.color6:       #2974ac
*.color14:      #2974ac

! white
*.color7:       #ffffff
*.color15:      #d9d7ce
