Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xcursor.theme: McMojave

! special
*.foreground:   #cbd3d5
*.background:   #000000
*.cursorColor:  #cbd3d5

! black
*.color0:       #04060e
*.color8:       #5da8a5

! red
*.color1:       #4a404e
*.color9:       #54455a

! green
*.color2:       #5e3653
*.color10:      #69385b

! yellow
*.color3:       #674173
*.color11:      #70417f

! blue
*.color4:       #8c4e83
*.color12:      #984e8e

! magenta
*.color5:       #45757d
*.color13:      #457f89

! cyan
*.color6:       #428b96
*.color14:      #4095a1

! white
*.color7:       #a85d7f
*.color15:      #acc3cb