Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xcursor.theme: Quintom

! special
*.foreground:   #cacbb9
*.background:   #1c1a14
*.cursorColor:  #cacbb9

! black
*.color0:       #0e0e04
*.color8:       #a85e5d

! red
*.color1:       #515a45
*.color9:       #475a2e

! green
*.color2:       #68694f
*.color10:      #676938

! yellow
*.color3:       #7f7f60
*.color11:      #7f7f41

! blue
*.color4:       #989876
*.color12:      #98984e

! magenta
*.color5:       #897c5b
*.color13:      #897645

! cyan
*.color6:       #a18e60
*.color14:      #a17140

! white
*.color7:       #bb7774
*.color15:      #c9cbac